<div class="container">
  <h2>MealPlanner!</h2>
  <div class="table-responsive">          
  {{!-- <table class="table">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cal-row">
        <td><strong>Breakfast</strong></td>
        <td id="cell1">{{this.monB}}</td>
        <td id="cell2">{{this.tues}}</td>
        <td id="cell3">{{this.wedB}}</td>
        <td id="cell4">{{this.thurB}}</td>
        <td id="cell5">{{this.friB}}</td>
        <td id="cell6">{{this.satB}}</td>
        <td id="cell7">{{this.sunB}}</td>
      </tr>
            <tr class="cal-row">
        <td><strong>Lunch</strong></td>
        <td id="cell8">{{monL}}</td>
        <td id="cell9">{{tueL}}</td>
        <td id="cell10">{{wedL}}</td>
        <td id="cell11">{{thurL}}</td>
        <td id="cell12">{{friL}}</td>
        <td id="cell13">{{satL}}</td>
        <td id="cell14">{{sunL}}</td>
      </tr>
            <tr class="cal-row">
        <td><strong>Dinner</strong></td>
        <td id="cell15">{{monD}}</td>
        <td id="cell16">{{tueD}}</td>
        <td id="cell17">{{wedD}}</td>
        <td id="cell18">{{thurD}}</td>
        <td id="cell19">{{friD}}</td>
        <td id="cell20">{{satD}}</td>
        <td id="cell21">{{sunD}}</td>
      </tr>
    </tbody>
  </table> --}}

  <div id="example-table"></div>
  </div>
</div>

<script src="/js/calendar.js"></script>
